.navbar {
  background-color: #f8f8f8cb;
  color: #000000;
  padding: 10px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
